# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.ipynb_checkpoints/

# --- Environnements virtuels ---
.venv/
venv/
env/
ENV/

# --- Système (Mac / Windows) ---
.DS_Store
.DS_Store?
._*
.Spotlight-V10
.Trashes
ehthumbs.db
Thumbs.db

# --- Spécifiques au projet  ---
myoutfile
